# Misc. folders and files
.vscode
*.exe
*.bmp
*.png

# FPGA
db
*.bak
incremental_db
output_files
work
modelsim.ini
FPGA/boards/DE1-SOC/c5_pin_model_dump.txt

# FPGA Simulation
FPGA/boards/DE1-SOC/simulation/modelsim/Image-Processing.sft
FPGA/boards/DE1-SOC/simulation/modelsim/Image-Processing.svo
FPGA/boards/DE1-SOC/simulation/modelsim/Image-Processing_modelsim.xrf
FPGA/simulation/vsim.wlf

# Personal Planning
planning.txt
